* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* -------------------- side_nav -------------------- */

.side_nav {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    width: 265px;
    /* background-color: aquamarine; */
    padding: 7px 10px;
    padding-bottom: 20px;
    border-right: 1px solid rgb(195, 195, 195);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.side_nav-top {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.side_nav-top-logo {
    height: 86px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.side_nav-top-logo img {
    width: 50%;
}

.side_nav-top-feedButton,
.side_nav-bottom-feedButton {

    height: 45px;
    width: 100%;
    /* background-color: aquamarine; */
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.side_nav-top-feedButton:hover,
.side_nav-bottom-feedButton:hover {
    background-color: #ededed;

}

.side_nav-top-feedButton i,
.side_nav-bottom-feedButton i {
    font-size: 25px;

}

.side_nav-top-feedButton h4,
.side_nav-bottom-feedButton h4 {
    font-size: 14px;
    font-weight: 400;
}

.side_nav-top-feedButton .profile {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.side_nav-top-feedButton .profile img {

    width: 100%;
}

.side_nav-bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}










/* ------------------- container ------------------- */


.container {

    width: inherit;
    display: flex;
    align-items: start;
    justify-content: center;


}

.container-left {
    width: 610px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}


.container-left-story_scroll {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15.6px;
    padding: 5px;
    overflow-x: scroll;
    flex-shrink: 0;
}

.container-left-story_scroll::-webkit-scrollbar {
    display: none;
}

.story {

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;

}

.story-userPhoto-container {
    height: 58px;
    width: 58px;
    background: radial-gradient(circle at right, red, rgb(235, 101, 44), rgb(147, 31, 206), rgb(232, 103, 124), rgb(234, 96, 216), red);
    border-radius: 50%;
    /* background-color: black; */
    padding: 2px;
    flex-shrink: 0;
    cursor: pointer;




}

.story-userPhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 2px solid #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.story-userPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-userName h6 {
    font-size: 11px;
    font-weight: 400;
    /* height : 16px; */
    letter-spacing: 0.12px;
    line-height: 16px;
}




.post {

    /* height: 539.95px ; */
    width: 470px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post .post_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.post .post_top .user_detail {


    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    bottom: unset;


}

.post .post_top .user_detail .userDp {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
}

.post .post_top .user_detail .userDp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .post_top .user_detail .userName h5 {

    font-size: 14px;
    font-weight: 600;
}

.post .post_top .user_detail .dot {
    font-weight: 400;
    font-size: 6px;
}

.post .post_top .user_detail .uploadTime p {
    font-size: 14px;
    font-weight: 400;

}

.post .postContent {

    max-height: 550px;
    overflow: hidden;
    /* height: 500px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;


    /* background-color: black; */
}

.post .postContent img {
    width: 100%;
    /* object-fit: contain; */
}

.post .postLiker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 100%;

}

.post .postLiker i {
    cursor: pointer;
}

.post .postLiker .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;



}

.postLiker .savePost {
    font-size: 24px;
}

.post .postLikeView {
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
}



.post .postCommentView {
    padding: 3px;
    font-size: 14px;
    font-weight: 400;
}















.container-right {
    width: 330px;
    height: 100vh;
    padding-top: 30px;
    padding-left: 50px;

}

.switch-contaner,
.suggested_profile-contaner {
    width: 100%;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_profile,
.suggested_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user_profile-dp,
.suggested_profile-dp {

    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    cursor: pointer;


}

.user_profile-dp img,
.suggested_profile-dp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_profile-details-id,
.suggested_profile-details-id {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.user_profile-details-name,
.suggested_profile-details-name {
    font-size: 14px;
    font-weight: 400;
}

.switch a,
.follow a {

    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 149, 246);
}

.suggested_for_you {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suggested_for_you-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.suggested_for_you-text h5 {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
}

.suggested_for_you-text a {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.suggested_profile-contaner{
    padding-left: 5px;
}
.insta_text p{
    font-size: 12px;
    width: 100 ;
    color: rgb(199, 199, 199);
}
